#aboutSection {
  text-align: center;
  background: white;
  margin-top: 2px
}

#abouts {
  height: 200px;
  border-radius: 10%;
}

.footer {
  background-color: red;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  justify-content: space-around;
  position: fixed;
  bottom:0;
  left:0;
  width:100%
}

.footer a {
  color: white;
  text-shadow: 2px 2px 4px gray;
  text-decoration: none;
  margin-right: 20px;
}

h1 {
  margin: 0;
}

li{
  list-style: none;
  position:absolute;
  bottom: 70px;
}

li a{
  color:black
}

li a:hover{
  color: blue
}

