.thumbs{
   display: grid;
   grid-template-columns: 2fr 2fr;
   text-align: center;
   /* Cant figure out how to divide them. Check with Shaik */
}

.picture{
   display: flex;
   justify-content: center;
   margin-top: 2%;
}

.commentForm{
   color:black
}

.vote{
   display: inline-block;
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dislike{
    will-change: opacity;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
